<%- include('includes/head.ejs') %>
<%- include('includes/navigation.ejs') %>

<main>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Cart Details</h2>
                <hr/>
                <div class="cart-details">
                    <% for(let product of cartProducts){%>
                    <div class="cart-product">
                    <div class="cart-title">product Name</div>
                    <div><%=product.title%></div>
                    <div class="cart-title">Quantity</div>
                    <div><%=product.quantity%></div> 
                    <div class="cart-title">Price Per Product</div>
                    <div><%=product.price%></div> 
                    <div class="cart-title">Total Price</div>
                    <div><%=product.cartPrice%></div>
                    </div>
                    <hr/>
                    <%}%>
                </div>
            </div>
        </div>
    </div>
   
    </main>
    <%- include('includes/footer.ejs') %>